@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", Sans-serif; }

header {
  height: 54px;
  padding: 8px 16px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 200, 0.03);
  box-shadow: 1px 1px 5px rgba(0, 0, 200, 0.03); }
  header img {
    height: 100%; }

.heading {
  font-size: 1.75rem;
  color: #02b3e4;
  margin: 16px auto;
  line-height: 2.25rem;
  font-weight: 300; }

@media (max-width: 520px) {
  .heading {
    font-size: 1.4rem; } }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.video-holder {
  width: 100%;
  max-width: 130vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 2px 2px 36px rgba(0, 0, 200, 0.15);
  box-shadow: 2px 2px 36px rgba(0, 0, 200, 0.15);
  border-radius: 4px; }

.cta {
  outline: none;
  margin: 32px auto;
  border: none;
  color: white;
  text-transform: uppercase;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 600;
  background: rgba(0, 0, 200, 0.55);
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s; }

.cta:hover {
  -webkit-box-shadow: 2px 2px 36px rgba(0, 0, 200, 0.15);
  box-shadow: 2px 2px 36px rgba(0, 0, 200, 0.15); }
