html
  head
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
    link(rel='stylesheet', type='text/css', href='css/styles.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .wrapper
      header
        img#logo(src="images/bzk-logo-white.svg")
        ul#navlinks
          li
            a(href="#")
              button.navbtn Blog
          li
            a(href="#")
              button.navbtn Pricing
          li
            a(target="_blank" href="https://appdev.bizkonect.com/")
              button.navbtn#login Login
      #backgroindimage
      
      .container
        #vid-cont
          #main-message
            #white-logo
              img(src="images/bzk-logo-white.svg")
            .heading Video Email for Tech Sales & Marketing
            .subheading
              |Record, send, & track one-to-one personalized video messages
              | direct to your customer’s Email, Social Media, or Text
            button.cta#watch
              i.material-icons play_circle_filled
              |&nbsp watch intro
          .video-holder
            video( muted loop)
              source(src="https://www.html5rocks.com/en/tutorials/video/basics/devstories.webm" type="video/webm")
        button.cta Try free version
      //-   h1 Upcoming pages:
      //-   ul
      //-     li#features Features
      //-     li#team Our team / About us
      //-     li#pricing Pricing plans
      //-     li#news News
      //-     li#blog Blog
      //- footer