html
  head
    link(rel='stylesheet', type='text/css', href='css/styles.css')
  body
    .wrapper
      header
        img(src="images/logo.svg")
      .container
        .heading This is how we connect to people
        video.video-holder(controls)
          source(src="https://www.html5rocks.com/en/tutorials/video/basics/devstories.webm" type="video/webm")
        button.cta Try free version
        #team Our team
        #pricing Pricing plans