html
  head
    link(rel='stylesheet', type='text/css', href='css/styles.css')
  body
    .wrapper
      header
        img(src="images/logo.svg")
      .container
        h2 This is how we connect to people
        video.video-holder
          source(src="mov_bbb.mp4" type="video/mp4")
        button.cta Try free version