html
  head
    link(rel='stylesheet', type='text/css', href='css/styles.css')
  body
    .wrapper
      header
        img(src="images/logo.svg")
        a(href="https://appdev.bizkonect.com/")
          button#login Login
      .container
        .heading This is how we connect to people
        video.video-holder(controls)
          source(src="https://www.html5rocks.com/en/tutorials/video/basics/devstories.webm" type="video/webm")
        button.cta Try free version
        h1 Upcoming pages:
        ul
          li#features Features
          li#team Our team / About us
          li#pricing Pricing plans
          li#news News
          li#blog Blog