$btn-font-size: 14px
$main-blue:  rgb(93,144,226)
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700')
//reset

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote
  &:before, &:after
    content: ''
    content: none

q
  &:before, &:after
    content: ''
    content: none

table
  border-collapse: collapse
  border-spacing: 0

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

// end of reset





html
  font-family: "Open Sans", Sans-serif
header
  display: flex
  flex-direction: row
  justify-content: space-between
  height: 54px
  padding: 8px 16px
  // border-bottom: 1px solid rgba(0,0,200,.05)
  box-shadow: 1px 1px 5px rgba(0,0,200,.03)
  img
    height: 100%
.heading
  font-size: 1.75rem
  color: #02b3e4
  margin: 16px auto
  line-height: 2.25rem
  font-weight: 100

@media (max-width: 520px)
  .heading
    font-size: 1.4rem

button
  text-transform: uppercase
  padding: 8px
  border: none
  outline: none
  font-size: $btn-font-size
  border-radius: 4px
  font-weight: 600
  cursor: pointer
  transition: .1s
#login
  color: $main-blue
  background: transparent
#login:hover
  box-shadow: 2px 2px 36px rgba(93,144,226,.25)
  background: rgba(93,144,226,.2)
.container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
.video-holder
  width: 100%
  max-width: 130vh
  display: flex
  box-shadow: 2px 2px 36px rgba(0,0,200,.15)
  border-radius: 4px
.cta
  margin: 32px auto
  color: white
  background: $main-blue
.cta:hover
  box-shadow: 2px 2px 36px rgba(93,144,226,.65)